* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.display-inlineBlock{
    display: inline-block;
}
.ml-14{
    margin-left: 14px;
}

/* Start TOGGLE SWITCH*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 7%;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /* END TOGGLE SWITCH*/
  .border-raduis-20{
      border-radius: 20px;
  }
  .border-zero{
    border-radius: 0;
  }
  form.form-inline{
    position: relative;
  }
  /* .fa-search{
    position: absolute;
    position: absolute;
    top: 30%;
    color: #847592;
    bottom: 0;
    left: 3%;
    right: 0;
    z-index: 1;
  } */
  .inputSearch::placeholder{
    padding-left: 20px;
    color: #ccc;
  }
  .inputSearch{
    background-image: url('./images/search-12-48.png');
    background-size: 22px;
    background-position: 1%;
    background-repeat: no-repeat;
    text-indent: 3px;
  }
  .inputSearch:focus{
    background-image: none;
    text-indent: 0px;
  }
  .btn-group-toggle{
    flex: 1!important;
    max-width: fit-content;
  }
  .color-gray{
    color:gray;
  }
  .link{
    color:#45b6fe;
    cursor: pointer;
  }
  .link:hover {
    color:#3792cb;
  }
  .tagGrid{
    display: grid;
    grid-template-columns: repeat(6,auto);
    padding: 3% 4%;
    grid-auto-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 7px;
  }
  .fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
}
.fa-times-circle{
  pointer-events: none;
}
.add-btn{
  border: 1px solid blue;
  width: 12%;
  margin-left: 4%;
}
.btn-group-toggle label{
  width: max-content;
}

/*Media Query*/
@media (max-width:991px) and (min-width:768px){
      .add-btn {
        width: 21%;
        margin-left: 0%;
    }
}
@media (max-width:767px){
  .pad-mobile{
    padding: 3% 10%;
  }
  .add-btn {
    width: 13%;
    margin-left: 3%;
}
.pad-y-mobile{
  padding: 7% 0%;
}

}
/* pad screen*/
/* @media(max-width:1113px){
  .tagGrid {
    grid-template-columns: repeat(6,auto);
  }
} */
@media(max-width:1112px) and (min-width:1003px){
  .tagGrid {
    grid-template-columns: repeat(5,auto);
  }
}
@media(max-width:1002px) and (min-width:992px){
  .tagGrid {
    grid-template-columns: repeat(4,auto);
  }
}
@media(max-width:991px) and (min-width:872px){
  .tagGrid {
    grid-template-columns: repeat(3,auto);
  }
}
@media(max-width:871px) and (min-width:768px){
  .tagGrid {
    grid-template-columns: repeat(2,auto);
  }
}
/*Mobile screen */
@media(max-width:767px) and (min-width:730px){
  .tagGrid {
    grid-template-columns: repeat(5,auto);
  }
}

@media(max-width:729px) and (min-width:608px){
  .tagGrid {
    grid-template-columns: repeat(4,auto);
  }
}
@media(max-width:607px) and (min-width:477px){
  .tagGrid {
    grid-template-columns: repeat(3,auto);
  }
}
@media(max-width:476px) {
  .tagGrid {
    grid-template-columns: repeat(2,auto);
  }
}